<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Archetype Created Web Application</display-name>
    <!--
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>WS.servlets.TestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>
    -->
    <!--
    <servlet>
        <servlet-name>Partition</servlet-name>
        <servlet-class>WS.servlets.PartitionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Partition</servlet-name>
        <url-pattern>/partitions/*</url-pattern>
    </servlet-mapping>
    -->

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>WS.servlets.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAccountController</servlet-name>
        <servlet-class>WS.servlets.UserAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccountController</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>WS.servlets.RoleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleController</servlet-name>
        <url-pattern>/roles/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>WS.servlets.AuthorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/authors/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PartitionController</servlet-name>
        <servlet-class>WS.servlets.PartitionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartitionController</servlet-name>
        <url-pattern>/partitions/*</url-pattern>
    </servlet-mapping>


</web-app>
